div, body {
    display: flex;
}
body {
    background: lightgray;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}
.global-wrapper {
    flex-direction: column;
    box-shadow: gray 2px 2px 10px 2px;
}
.input-wrapper {
    width: 600px;
    height: 60px;
    border: solid 1px lightgray;
    background-color: white;
    color: grey;
}
#check-all {
    width: 10%;
    align-items: center;
    justify-content: center;
    transform:scale(2,1);
    font-size: 24px;
    padding-bottom: 15px;
    cursor: pointer;
}
#toDoInput {
    width: 100%;
    padding-left: 10px;
    border: none;
    font-size: 26px;
}
.navigation-bar {
    width: 600px;
    height: 40px;
    border: solid 1px lightgray;
    border-top: none;
    justify-content: center;
    background-color: white;
    position: relative;
}
.nav-button {
    color: grey;
    padding: 5px;
    margin: 5px;
    height: 15px;
}
.item {
    width: 600px;
    height: 50px;
    border: solid 1px lightgray;
    background-color: white;
    align-items: center;
    font-size: 23px;
    border-top: none;
}
#list {
    flex-direction: column;
}
.checkbox {
    width: 10%;
}
.task {
    flex-grow: 1;
}
.x-button {
    width: 10%;
    color: gray;
    font-family: "Comic Sans MS";
    display: none;
    cursor: pointer;
    justify-content: center;
}
.active {
    border: solid 1px lightgrey;
    border-radius: 3px;
}
.items-left {
    color: grey;
    position: absolute;
    left: 20px;
    flex-direction: row;
    align-self: center;
}
#amount{
    margin-right: 3px;
}